<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Bootstrap Icons cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Prestamos</title>
</head>

<body style="background-color: #C0DAD0;">
    <div class="container" style="height: 145px;">
        <nav class="navbar">
            <a class="navbar-brand" href="../Inicio.html">
                <img src="../static/gespres_logo.png" width="150" height="150" alt="">
            </a>
            <a class="navbar-brand disable" href="#">
                <p class=" pt-5">Hola, {{usuarioGlobal}}</p>
                <form action="logout" method="post"><button type="submit" class="btn btn-outline-primary"><i class="bi bi-door-open-fill"></i></button></form>       
            </a>
          </nav>
    </div>
    <hr>
    <div class="container pt-5">
        <div class="row">
            <div class="col-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../Inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../clientes.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../prestamos.html">Prestamos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../cobros.html">Cobros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../atrasos.html">Atrasos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../usuarios.html">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../reportes.html">Reportes</a>
                    </li>
                </ul>
            </div>
            <div class="col-1"></div>

            <div class="col-4">
                <h3>Registro de cliente</h3>
                <form action="registrar_clientes" method="POST">
                    <div class="p-3 border border-dark rounded" style="background-color: #151E3D; color: white;">
                        <div class="row">
                            <div class="col">
                                <p>Nombre</p>
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <p>Apellido</p>
                                <input type="text" name="apellido" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <p class="mt-3">Fecha de nacimiento</p>
                                <input type="date" name="fecha_nacimiento" id="">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <p>Teléfono</p>
                                <input type="text" name="telefono" class="form-control" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <p>Correo Electrónico</p>
                                <input type="text" name="correo" class="form-control" placeholder="Correo">
                            </div>
                        </div>    
                        <div class="col">
                            <button type="submit" class="btn btn-outline-light mt-3">Agregar</button>
                        </div>             
                    </div>
                </form>
            </div>

            <div class="col-5 mt-5">
                <h3>Tabla de clientes activos</h3>
                <div class="p-3 border border-dark rounded">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Fecha Nacimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for cliente in clientes%}
                        <tr>
                            <td>{{cliente.0}}</td>
                            <td>{{cliente.1}}</td>
                            <td>{{cliente.2}}</td>
                            <td>{{cliente.3}}</td>
                            <td>
                                <a href="/obtener_cliente/{{cliente.0}}" class="btn btn-outline-primary mb-1">Editar</a>
                                <a href="/borrar_clientes/{{cliente.0}}" class="btn btn-outline-primary">Borrar</a>
                            </td>
                        </tr>
                        {%endfor%}                       
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>