<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Bootstrap Icons cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Cobros</title>
  </head>
  <body style="background-color: #C0DAD0;">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="../templates/Inicio.html">
          <img src="../img/gespres_logo.png" width="100" height="100" alt="">
        </a>
        <a class="navbar-brand disable" href="#">
          <p class="float-end pt-5">Usuario</p>
        </a>
      </nav>
  </div>
  <hr>
  <div class="container pt-5">
    <div class="row">
      <div class="col-2 ">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../templates/Inicio.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/clientes.html">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/prestamos.html">Prestamos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="../templates/cobros.html" >Cobros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/atrasos.html">Atrasos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/usuarios.html">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/reportes.html">Reportes</a>
            </li>
        </ul>
    </div>
    <div class="col-1"></div>
      <div class="col-7">
        <p>Información del cliente</p>
        <div class="p-3 border border-dark rounded">
            <div class="row">               
                <div class="col-4">
                    <p>N° de Prestamo</p>
                    <input type="text" class="form-control" placeholder="Numero de prestamo">
                </div>
                <div class="col-4">
                    <p>Nombre</p>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-4"></div>            
                <div class="col-4">
                    <p>Apellido</p>
                    <input type="text" class="form-control" placeholder="Apellido">
                </div>
                <div class="col-3 text-center">
                    <button type="button" class="btn btn-outline-primary">Buscar</button>
                </div>
            </div>
        </div>
      </div>
      <div class="col-3"></div>
      <div class="col-6 pb-3">
        <p class="text-center">Información del prestamo</p>
        <div class="p-3 border border-dark rounded">
            <div class="row">               
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha Plazo</th>
                        <th scope="col">Monto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>02145</td>
                        <td>11/02/21</td>
                        <td>$4560.00</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>32547</td>
                        <td>25/02/21</td>
                        <td>$4560.00</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>69854</td>
                        <td>11/03/21</td>
                        <td>$4560.00</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
      </div>
      <div class="col-3 p-5">
        <div class="row">               
            <div class="col">
                <p>Fecha</p>
                <input type="text" class="form-control" placeholder="Fecha">
            </div>
        </div>
        <div class="row pt-3">               
            <div class="col">
                <p>Monto</p>
                <input type="text" class="form-control" placeholder="Monto">
            </div>
        </div>
        <div class="row pt-3">               
            <div class="col">
                <button type="button" class="btn btn-outline-primary">Pagar</button>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>